<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<%- messages() %>


<form class='register-form' action="GET">
  <label for="firstname">First Name:</label>
  <input type="text" id="firstname" name="account_firstname" required>
  <label for="lastname">Last Name:</label>
  <input type="text" id="lastname" name="account_lastname" required>
  <label for="email">Email:</label>
  <input type="email" id="email" name="account_email" required>
  <label for="password">Password:</label>
  <input type="password" id="password" name="account_password" required>
  <p>Password must have at least:</p>
  <ol>
    <li>minimum of 12 characters</li>
    <li>one capital letter</li>
    <li>one number</li>
    <li>one special character</li>
  </ol>
  <button type="register">Register</button>
</form>
    