<!-- The body of the page that will be supplied to the layout -->
<h1>Welcome to CSE Motors!</h1>
<div class="hero">
  <div class="overlay">
    <ul class="carFeatures">
      <li class="model">DMC Delorian</li>
      <li class="feature1">3 Cup Holders</li>
      <li class="feature2">Superman doors</li>
      <li class="feature3">Fuzzy dice!</li>
    </ul>
    <a href=""
      ><img
        class="ownBtn"
        src="images/site/own_today.png"
        alt="Own Today Picture"
    ></a>
  </div>
  <div class="carPicture">
    <img
      class="smallPic"
      src="images/vehicles/delorean-tn.jpg"
      alt="small delorian picture"
      loading="lazy"
    >
    <img
      class="largePic"
      src="images/vehicles/delorean.jpg"
      alt="large delorian picture"
      loading="lazy"
    >
  </div>
</div>
<div class="reviews">
  <h2 class="reviewTitle">DMC Delorean Reviews</h2>
  <ul class="reviews">
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4/5)</li>
    <li>"80's livin and I love it!" (5/5)</li>
  </ul>
</div>
<h3 class="upgradeTitle">Delorean Upgrades</h3>
<section class="upgrades">
  <h4>Upgrades</h4>
  <div class="flux upgrades">
    <img
      class="fluxPic"
      src="images/upgrades/flux-cap.png"
      alt="flux capacitor picture"
      loading="lazy"
    >
    <a href="">Flux Capacitor</a>
  </div>

  <div class="flame upgrades">
    <img
      class="flamePic"
      src="images/upgrades/flame.jpg"
      alt="flame decal picture"
      loading="lazy"
    >
    <a href="">Flame Decals</a>
  </div>

  <div class="bumper upgrades">
    <img
      class="bumperPic"
      src="images/upgrades/bumper_sticker.jpg"
      alt="bumper sticker picture"
      loading="lazy"
    >
    <a href="">Bumper Stickers</a>
  </div>

  <div class="hub upgrades">
    <img
      class="hubPic"
      src="images/upgrades/hub-cap.jpg"
      alt="hub cap picture"
      loading="lazy"
    >
    <a href="">Hub Caps</a>
  </div>
</section>
