/******* Change Box Model ***************/
:root {
  --font-body: Rasa, sans-serif;
  --font-headline: Literata, sans-serif;
  /* colors */
  --primary-color: #a4c7f5;
  --tertiary-color: #ffffff;
  --dark-gray: #222121;
  --contrast-color: #ffffff;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.5em;
  --large-font: 1.2em;
}

* {
  text-decoration: none;
  list-style: none;
}

*:before,
*:after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: auto;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
  background-color: var(--tertiary-color);
  background-image: none;
}
header {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 21px;
}
.siteName {
  font-size: 1.5em;
  font-weight: 600;
  padding: 10px 0 0 10px;
}
div#tools {
  padding: 5px;
  color: var(--dark-gray);
}
nav {
  width: 100%;
}
nav ul {
  display: flex;
  background-color: var(--dark-gray);
  height: 2em;
  padding-left: 0;
  justify-content: space-evenly;
}
nav ul li {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
nav ul li a {
  padding-inline: 10px;
  color: var(--contrast-color);
}
.overlay {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.8);
  display: inline;
  padding-left: 10px;
}
ul.carFeatures {
  padding: 0;
  color: var(--primary-color);
  margin: 0;
}
li.model {
  font-weight: 900;
}
img.ownBtn {
  width: 110px;
  height: auto;
}
img.smallPic {
  display: block;
  width: 75%;
  height: auto;
  margin: auto;
}
img.largePic {
  display: none;
}
ul.reviews li {
  list-style: disc;
}
.upgradeTitle {
  width: 480px;
  display: block;
  position: relative;
}
section.upgrades {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
div.upgrades {
  display: inline-block;
  width: 48%;
  height: 90px;
  border: solid 1px var(--dark-gray);
  background-color: var(--primary-color);
  margin: 0 0 2em 0;
}
div.upgrades img {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  margin: auto;
  padding-top: 8px;
}
div.upgrades a {
  text-decoration: underline;
  display: grid;
  justify-content: center;
  margin-top: 1em;
}
h2{
  font-size: 20px;
}
h4 {
  display: none;
}
#inv-display {
  display:block;
}
#inv-display li {
  border: var(--dark-gray) 1px solid;
  margin: 1em auto 1em auto;
  width: 200px;
}
#inv-display li img {
  display: block;
  margin: auto;
}
.namePrice {
  padding-bottom: 10px;
  text-align: center;
}
ul#inv-details {
  display: block;
  padding: 0 10px 0 10px;
  font-size: 1.25em;
} 
#inv-details img {
  width: 100%;
  margin: auto;
}
.vehicleDetails h2 {
  font-size: 1.5em;
}
.price{
  background-color: beige;
  padding: 10px;
}
.desc {
  padding: 0 10px 0 10px;
}
.color {
  padding: 10px 10px 10px 10px;
  background-color: beige;
}
.miles {
  padding: 10px 10px 0 10px;
  margin: 10px 0 10px 0;
}
footer {
  padding: 0 5px 0 5px;
}
.errTitle {
  font-size: 50px;
  margin: 0 0 0 10px;
}
.errPic {
  width: 100%;
  opacity: 0.2;
}
#err {
  position: relative;
  padding: 0 30px 0 30px;
  font-weight: 800;
}
.login-form, .classification-form, .inventory-form {
  display: flex;
  flex-direction: column;
  border: ridge 5px grey;
  width: 85%;
  height: auto;
  margin: auto;
  justify-content: center;
  background-color: #1f3c61;
  border-radius: 10px;
  color: #ffffff;
  font-size: 35px;
  padding: 10px;
}
.login-form input, .classification-form input, .inventory-form input {
  height: 35px;
  font-size: 30px;
  margin: 5px 0 10px 0;
  border-radius: 10px;
  padding-left: 10px;
}
.login-form button, .classification-form button {
  width: 30%;
  margin: auto;
  height: 35px;
  margin-top: 5px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 15px;
}
.login-form p, .inventory-form p {
  margin: 15px auto 10px auto;
  font-size: 25px;
}
.login-form p a {
  color: #ffffff;
  padding-left:10px;
  text-decoration: underline;
}
.register-form {
  display: flex;
  flex-direction: column;
  border: ridge 5px grey;
  width: 85%;
  height: auto;
  margin: auto;
  justify-content: center;
  background-color: #1f3c61;
  border-radius: 10px;
  color: #ffffff;
  font-size: 35px;
  padding: 10px;
}
.register-form input {
  height: 35px;
  font-size: 30px;
  margin: 5px 0 10px 0;
  border-radius: 10px;
  padding-left: 10px;
}
.inventory-form textarea, select {
  border-radius: 10px;
  font-size: 30px;
  margin: 5px 0 10px 0;
}
.inventory-form button {
  width: 50%;
  margin: auto;
  height: 35px;
  margin: 5px auto 10px auto;
  font-size: 25px;
  font-weight: 600;
  border-radius: 15px;
}
.register-form button {
  width: 30%;
  margin: auto;
  height: 35px;
  margin: 5px auto 10px auto;
  font-size: 25px;
  font-weight: 600;
  border-radius: 15px;
}
.register-form p {
  margin: 15px auto 0 auto;
  font-size: 25px;
  font-style: italic;
}
.register-form ol {
  margin: 0 auto 15px auto;
  font-size: 20px;
  font-style: italic;
}
.register-form ol li {
  list-style-type: square;
}
.register-form p a {
  color: #ffffff;
  padding-left:10px;
  text-decoration: underline;
}
#tools a {
  display: block;
  padding: 0 10px 10px 10px;
  text-decoration: underline;
  font-size: 25px;
}
.notice {
  color: red;
  font-style: italic;
  font-weight: 500;
}
.headerLoggedin, .headerLoggedout {
  padding-right: 10px;
}
.greeting {
  padding-left: 15px;
}
.modify {
  padding: 20px 0 20px 10px;
  text-decoration: underline;
  font-size: 24px;
}
form.update-form, form.password-form {
  display: inline-flex;
  flex-direction: column;
  padding-left: 25px;
  font-size: 20px;
}
.passForm {
  padding-left: 10px;
}
form.update-form label, form.password-form label {
  padding: 5px 0 3px 0;
}
form.update-form input, form.password-form input {
  height: 20px;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}
form.update-form button, form.password-form button {
  width: fit-content;
  font-size: 25px;
  align-self: center;
  border-radius: 10px;
  background-color: #1f3c61;
  color: #ffffff;
}
.info {
  margin-bottom: 0;
}
ol {
  margin-top: 0;
}
li {
  list-style: square;
}
@media screen and (min-width: 500px) {
  body {
    background-image: url("../images/site/small_check.jpg");
    width: 100%;
  }
  #wrapper {
    background-color: var(--tertiary-color);
    border: var(--primary-color) 5px solid;
    border-radius: 1em;
    margin: 1em auto 1em auto;
    padding-top: 1.5em;
    width: 850px;
  }
  img.smallPic {
    display: none;
  }
  img.largePic {
    display: block;
    width: 75%;
    height: auto;
    margin: auto;
  }
  .siteName {
    padding-top: 0;
  }
  nav {
    width: 98%;
    margin: auto;
  }
  h1{
    padding-left: 10px;
  }
  h3 {
    margin-left: 10px;
    font-size: 34px;
    margin-bottom: 0;
  }
  .overlay {
    font-size: 26px;
    margin-left: 1em;
    margin-top: 1.5em;
  }
  img.ownBtn {
    width: 175px;
    height: auto;
    margin-top: 1.5em;
    box-shadow: 1px 1px 6px var(--dark-gray);
  }
  .reviews {
    float: right;
  }
  .reviewTitle {
    font-size: 20px;
    margin: 2em 0 0 1em;
  }
  ul.reviews li {
    padding: 10px 10px 10px 10px;
  }
  .upgradeTitle {
    font-size: 20px;
    margin: 2em 0 2em 10px;
  }
  .upgrades {
    margin-left: 10px;
    width: 45%;
  }
  footer {
    padding-left: 20px;
    padding-bottom: 5px;
  }
  #inv-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  #inv-display li {
    border: var(--dark-gray) 1px solid;
    margin: 1em 1em 1em 1em;
    width: 200px;
  }
  .namePrice {
    padding-bottom: 10px;
    text-align: center;
  }
  ul#inv-details {
    display: inline-flex;
  }
  ul#inv-details img {
    margin-top: 2em;
    width: 45%;
    height: auto;
  }
  .vehicleDetails hr {
    display: none;
  }
  div.vehicleDetails {
    width: 45%;
    height: auto;
    float: right;
  }
  div.vehicleDetails {
    font-size: 15px;
  }
  .login-form, .classification-form, .inventory-form {
    width: 50%;
    font-size: 25px;
  }
  .register-form {
    width: 50%;
    font-size: 25px;
  }
}

