/******* Change Box Model ***************/
:root {
  --font-body: Rasa, sans-serif;
  --font-headline: Literata, sans-serif;
  /* colors */
  --primary-color: #a4c7f5;
  --tertiary-color: #ffffff;
  --dark-gray: #222121;
  --contrast-color: #ffffff;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.5em;
  --large-font: 1.2em;
}

* {
  text-decoration: none;
  list-style: none;
}

*:before,
*:after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: auto;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
  background-color: var(--tertiary-color);
  background-image: none;
}
header {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 21px;
}
.siteName {
  font-size: 1.5em;
  font-weight: 600;
  padding: 10px 0 0 10px;
}
div#tools {
  padding: 5px;
  color: var(--dark-gray);
}
nav {
  width: 100%;
}
nav ul {
  display: flex;
  background-color: var(--dark-gray);
  height: 2em;
  padding-left: 0;
  justify-content: space-evenly;
}
nav ul li {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
nav ul li a {
  padding-inline: 10px;
  color: var(--contrast-color);
}
.overlay {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.8);
  display: inline;
  padding-left: 10px;
}
ul.carFeatures {
  padding: 0;
  color: var(--primary-color);
  margin: 0;
}
li.model {
  font-weight: 900;
}
img.ownBtn {
  width: 110px;
  height: auto;
}
img.smallPic {
  display: block;
  width: 75%;
  height: auto;
  margin: auto;
}
img.largePic {
  display: none;
}
ul.reviews li {
  list-style: disc;
}
.upgradeTitle {
  width: 480px;
  display: block;
  position: relative;
}
section.upgrades {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
div.upgrades {
  display: inline-block;
  width: 48%;
  height: 90px;
  border: solid 1px var(--dark-gray);
  background-color: var(--primary-color);
  margin: 0 0 2em 0;
}
div.upgrades img {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  margin: auto;
  padding-top: 8px;
}
div.upgrades a {
  text-decoration: underline;
  display: grid;
  justify-content: center;
  margin-top: 1em;
}
h4 {
  display: none;
}
@media screen and (min-width: 500px) {
  body {
    background-image: url("../images/site/small_check.jpg");
    width: 100%;
  }
  #wrapper {
    background-color: var(--tertiary-color);
    border: var(--primary-color) 5px solid;
    border-radius: 1em;
    margin: 1em auto 1em auto;
    padding-top: 1.5em;
    width: 850px;
  }
  img.smallPic {
    display: none;
  }
  img.largePic {
    display: block;
    width: 75%;
    height: auto;
    margin: auto;
  }
  .siteName {
    padding-top: 0;
  }
  nav {
    width: 98%;
    margin: auto;
  }
  h3 {
    margin-left: 10px;
    font-size: 34px;
    margin-bottom: 0;
  }
  .overlay {
    font-size: 26px;
    margin-left: 1em;
    margin-top: 1.5em;
  }
  img.ownBtn {
    width: 175px;
    height: auto;
    margin-top: 1.5em;
    box-shadow: 1px 1px 6px var(--dark-gray);
  }
  .reviews {
    float: right;
  }
  .reviewTitle {
    font-size: 20px;
    margin: 2em 0 0 1em;
  }
  ul.reviews li {
    padding: 10px 10px 10px 10px;
  }
  .upgradeTitle {
    font-size: 20px;
    margin: 2em 0 2em 10px;
  }
  .upgrades {
    margin-left: 10px;
    width: 45%;
  }
}
