<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>


<div id="tools">
  <a title="Click to add new classification" href="inv/add-classification">Add New Classification</a>
  <a title="Click to add new inventory" href="inv/add-inventory">Add New Inventory</a>
</div>

<h2>Manage Inventory</h2>

<p class="manage-inventory">Choose a classification to see inventory items.</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>